body, h1, h2, h3, h4, h5, h6, p, a, span{
  font-family: 'Quicksand', sans-serif!important;
  font-weight: 400;
}
.style-child{
  display:table-cell;
  vertical-align: middle;
  text-align: center;
}
.style-parent{
  display:table;
  height: 80%;
  width: 100%;
}
.style-game-bg{
  background-color: #1E1D24;
  width:100%;
  height:100%;
}
.style-game-section{
  max-width:300px!important;
}
.style-game-number{
  max-width:100px!important;
  display:inline-block!important;
  width:30%!important;
}
.style-game-wrapper{
  display:flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height:100%
}
