body, h1, h2, h3, h4, h5, h6, p, a, span{
  font-family: 'Quicksand', sans-serif!important;
  font-weight: 400;
}
.style-child{
  display:table-cell;
  vertical-align: middle;
  text-align: left;
}
.style-parent{
  display:table;
  height: 80%;
  width: 100%;
}
.style-game-bg{
  background-color: #1E1D24;
}
.style-game-section{
  
}
